.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #5f48308a; */
    background: linear-gradient(#5f4830b6, #7c5d3bb6);
    z-index: -3;
    /* Posiziona l'overlay sopra il video */
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -4;
    object-fit: cover;
    object-position: center;
}




.label-container {
    margin: 0 5rem;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    grid-template-columns: 2fr 1fr 1fr;
    color: white;
}

.label-container p {
    flex-grow: 1;
    /* Gli altri elementi avranno tutti la stessa crescita */
    text-align: end;
    margin: 5px;
    font-size: 22px;
}

.label-container .evento {
    flex-grow: 2;
    text-align: start;
}

.categoria-label {
    margin: 2rem 5rem;
    font-size: 48px;
    color: white;
    font-family: 'Kaushan Script', cursive;
}



/*-----------------------------------------content------------------------*/

.item-container {
    margin: 1rem 5rem;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-bottom: 2px solid rgba(255, 255, 255, 0.501);
    transition: all 0.2s cubic-bezier(0, -0.56, .85, 1.78);
}

.container-img img {
    width: 250px;
    height: 200px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    object-fit: cover;
}

.container-img {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 2;
}

.concert-info {
    text-align: start;
    margin: 0 2rem 0;
    grid-column: 1 / 2;
    color: rgba(255, 255, 255, 0.8);
}

.concert-info p {
    margin: 0.1rem 0;
    font-size: 20px;
    opacity: 60%;
    color: rgba(255, 255, 255, 0.8);
}

.concert-info h1 {
    margin: 2rem 0 0;
}


.timer-container {
    grid-column: 2 / 3;
    padding-right: 20px;
    height: 100%;
    display: grid;
    place-items: center;
    animation: pulse-animation 3s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        /* Dimensione normale */
    }

    50% {
        transform: scale(1.05);
        /* Espansione */
    }

    100% {
        transform: scale(1);
        /* Ritorno alla dimensione normale */
    }
}

.timer-container p {
    background-color: #A36D16;
    border-radius: 30px;
    width: 60%;
    font-size: 22px;
    opacity: 0.8;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.posto-container {
    padding: 0 35px;
    display: flex;
    align-items: center;
}

.posto-container p {
    font-size: 22px;
    opacity: 0.8;
    text-align: start;
    color: rgba(255, 255, 255, 0.8);
}

.item-container p {
    margin: 0;
    opacity: 0.9;
}

.price-container {
    grid-column: 4 / 5;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.price-container p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
}

.price-container i {
    margin: 5px 20px;
    margin-right: 0;
    font-size: 20px;
    cursor: pointer;
    color: #A36D16;
}

/*-----------------checkout------------------*/

.checkout-container {
    width: 50%;
    margin-left: auto;
    margin-right: 5rem;
    margin-top: 5rem;
}

.totale {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: white;
}

.totale h1 {
    font-size: 22px;
    opacity: 80%;
}

.totale p {
    font-size: 22px;
    opacity: 80%;
}

/*----------commissioni-----------*/


.commissioni {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #a36d16be;
}

.commissioni h1 {
    font-size: 22px;
    opacity: 80%;
}

.commissioni p {
    font-size: 22px;
    opacity: 80%;

}


/*----------commissioni-----------*/


.grantotale {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 253, 253, 0.8);
}

.grantotale h1 {
    font-size: 35px;
    color: white;
}

.checkout-button-container {
    margin-top: 3em;
    width: 100%;
    height: auto;
}

.checkout-button-container input {
    background-color: #A36D16;
    width: 50%;
    margin-left: 50%;
    padding: 1.5rem;
    border-radius: 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.checkout-button-container input:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.1);
}


/*----------------------*/

/* .item-container:hover{
    transform: translatex(5px) translateY(-5px);
} */

.no-items-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.no-items-container p {
    padding: 5rem 0;
    font-size: 22px;
}

.no-items-container h1 {
    text-align: center;
    background-color: #A36D16;
    color: white;
    font-size: 15px;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.no-items-container h1:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #c7861d;
}



.primary-nav img {
    margin-top: 50px;
}

